<!DOCTYPE html>
<html>
<head>
	<title>Speech Recognition</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">


</head>
<body class="maincon">

	<header>
		<div class="jumbotron text-center">
		<h1>Speech Recognition with Flask</h1>
		<p class="text-muted font-weight-bold">Transcript Generator with Speech-to-Text </p>
		</div>
	</header>

	<div class="container p-3 my-3 text-white text-justify" >
		<div class="row">
		<div class="col-xl-12">
		<div class="form-group">
			<h2> </h2>
			<form method="post" enctype="multipart/form-data">
				<p class="font-weight-bold">Upload an audio file :</p>
				<input type="file" name="file"/><br><br>
				<input type="submit" class="btn btn-primary font-weight-bold text-white" value="Transcribe"/>
			</form>
		</div>	
		</div>	
		</div>
		{% if transcript != "" %}
		<div>
			<h2>Transcript :</h2>
            <p class=" font-italic lead text-justify">{{ transcript }}</p>
        </div>
		{% endif %}
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
</body>
</html>

